<section>
<h1>Welcome Ward 22-1!</h1>

(insert map image of our neighborhood; add election day )

<p>I'm Cynthia Albrecht. The neighborhood we call West Mt. Airy is, politically-speaking, divided into wards. Each ward can have a few divisions. Do you vote at Summit Church, on the left side? If so, you're in Ward 22-01. (Your friends on the right side? They're Ward 22-02).  
</p>

<p>Each ward elects two committee people. You know those guys who hang out on the church porch with the page of suggesting candidates? They're committee people. Ours has been Peter ??? for many years. He's stepping down, and I'm running to replace him. 
</p>
<h3>What does a committee person do? </h3>
</p>
<p> This is a post within the Philadelphia Democratic Party. We meet candidates running for office, and help you figure out ..... We combine to create the culture of the Democratic party locally... 
</p>
<p>
<h3>Why am I running? </h3>
</p>
<p>
So many reasons: I teach high school civics and history. I moved here a few years ago and love our neighborhood. I'm part of a slate of new candidates city-wide who stand with Chris Raab to challenge the status-quo Democratic machine. I'm part of a national movement of women running for political office in the wake of the Trump fiasco. I'm inspired to become part of our system, to create progressive change within. Philadelphia is on the verge of becoming a new kind of progressive city, and I want to work for that on our neighborhood's behalf. 
</p> 
<p> I'm running because I want to meet you, get to know your needs, your political vision, and figure out how we can make change in our city... etc. etc. 
</p>
<p>
I've got the list of Ward 22-01 voters, and my goal is to knock on your door and ask you for your vote. I believe in opening up the political system. We've got work to do, and this is where I start. 
</p>
</section>
<blockquote>
I'm part of a slate of new candidates city-wide who stand with Chris Raab to challenge the status-quo Democratic machine. (note: add callout quotes, etc in design )
</blockquote>