<!DOCTYPE html>
<html>
  <head>
    <title>Ward22Division1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

(add header image and navigation, container with text, 80% border, images around. leaves? 
  <body>
    <%= yield %>
  </body>
</html>
